#macro( getter $field )$utils.getGetterName($field)#end
#macro( setter $field )$utils.getSetterName($field)#end
#macro( fu $var )$utils.firstUpper($var)#end
#macro( isString $var )$utils.isString($var)#end
#macro( type $var )$utils.typeName($var)#end
#set( $fileDefine = "__${utils.toDefine($struct.name)}_H__" )
#ifndef $fileDefine
# define $fileDefine

\#include <PalmOS.h>

\#include "helpers/DB.h"


#set( $id = 1 )
#foreach( $field in $struct.fields )
#foreach( $flag in $field.flags )
#define ${utils.toDefine($struct.name)}_${utils.toDefine($field.name)}_${utils.toDefine($flag)} $id
#set( $id = 2 * $id )
#end
#end
#if( $id > 1 ) 


#end
struct $struct.name
{
#foreach( $field in $struct.fields )
#if ( $field.list )
	#type($field) $field.name[1];
#elseif( not $field.primitive )
	UInt32 ${field.name}ID;
#else
	#type($field) $field.name#if( $field.array > 0)[$field.array]#end;
#end
#end
};


class ${struct.name}Record
{
private:
	DBRecord *rec;
	$struct.name *data;
	
	void read()
	{
		if (rec->lockLevel() != 0)
			return;
		
		data = ($struct.name *) rec->viewPtr();
	}
	
	void write()
	{
		if (rec->lockLevel() == 4)
			return;
		
		if (rec->lockLevel() == 2)
			rec->release();
		
		data = ($struct.name *) rec->lockPtr();
	}
	
public:
	${struct.name}Record(DBRecord *rec)
	{
		this->rec = rec;
		data = NULL;
	}
	
	~${struct.name}Record()
	{
		delete rec;
	}
	
	
#foreach( $field in $struct.fields )
#if( not $field.list and not $field.primitive )
	UInt32 #getter($field)()
	{
		read();
		return data->${field.name}ID;
	}
#else
	#type($field)#if( $field.array > 0 || $field.list ) *#end #getter($field)()
	{
		read();
		return data->$field.name;
	}
#end
#if( $field.list )
	UInt16 get#fu($field.name)Length()
	{
		return (MemHandleSize(rec->view()) - sizeof($struct.name)) / sizeof(#type($field)) + 1;
	}
#elseif( not $field.primitive )
	void #setter($field)(UInt32 ${field.name}ID)
	{
		write();
		DmWrite(data, (UInt32) &((($struct.name *) NULL)->${field.name}ID), &${field.name}ID, sizeof(UInt32));
	}
#else
	void #setter($field)(#type($field)#if( $field.array > 0 ) *#end $field.name)
	{
		write();
#if( $field.array == 0 )
		DmWrite(data, (UInt32) &((($struct.name *) NULL)->$field.name), &$field.name, sizeof(#type($field)));
#elseif( $field.string )
		Char tmp[$field.array];
		StrNCopy(tmp, $field.name, $field.array);
#set( $last = $field.array - 1 )
		tmp[$last] = chrNull;
		
		DmWrite(data, (UInt32) &((($struct.name *) NULL)->$field.name), $field.name, $field.array * sizeof(#type($field)));
#end
	}
#foreach( $flag in $field.flags )
#set( $define = "${utils.toDefine($struct.name)}_${utils.toDefine($field.name)}_${utils.toDefine($flag)}" )
#set( $var = $utils.toVariable($flag) )
	Boolean is#fu($var)()
	{
		return ($utils.getGetterName($field)() & $define) == $define;
	}
	void set#fu($var)(Boolean $var)
	{
		if ($var)
			#setter($field)(#getter($field)() | $define);
		else
			#setter($field)(#getter($field)() & ~$define);
	}
#end
#end

#end
	
	const $struct.name * const getPtr()
	{
		read();
		return data;
	}
	
	Boolean isSecret()
	{
		return rec->isSecret();
	}
	void setSecret(Boolean secret)
	{
		rec->setSecret(secret);
	}
	
	UInt32 getUniqueID()
	{
		return rec->getUniqueID();
	}
	
	UInt16 getCategory()
	{
		return rec->getCategory();
	}
	
	Boolean isDeleted()
	{
		return rec->isDeleted();
	}
	
	void remove(Boolean archive = false, Boolean keepInDb = false)
	{
		rec->remove(archive, keepInDb);
	}
	
};


#endif // $fileDefine
